body{
}

.thumbnail img{
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full{
    padding: 9px;
}

.delete-form {
    display: inline;
}

.wrap { 
   white-space: pre-wrap;      /* CSS3 */   
   white-space: -moz-pre-wrap; /* Firefox */    
   white-space: -pre-wrap;     /* Opera <7 */   
   white-space: -o-pre-wrap;   /* Opera 7 */    
   word-wrap: break-word;      /* IE */
}

/* Google Maps */
#map {
    height: 400px;
    width: 100%;
}